#initially-hidden {
  display: none;
}
.clickable {
  color: #0088cc;
}
.clickable:hover {
  cursor: pointer;
  text-decoration: underline;
}
.green-background {
  background-color:  green;
}
.yellow-background {
  background-color:  yellow;
}
.red-background {
  background-color:  red;
}
